{% set inpostGatewayCode = constant('BitBag\\SyliusInPostPlugin\\EventListener\\ShippingExportEventListener::INPOST_POINT_SHIPPING_GATEWAY_CODE') %}

{% set gatewayCode = '' %}

{% if order.hasShipments %}
    {% for shipment in order.shipments %}
        {% if shipment.method is defined and shipment.method is not null %}
            {% set gatewayCode = shipment.method.code %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if order.billingAddress is not null %}
    <h4 class="ui attached styled header{% if order.shippingAddress is null %} top{% endif %}">
        {{ 'sylius.ui.billing_address'|trans }}
    </h4>
    <div class="ui attached segment" id="billing-address">
        {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.billingAddress} %}
    </div>
{% endif %}

{% if gatewayCode is defined and inpostGatewayCode == gatewayCode %}
    <div id="admin-inpost-wrapper">
        <h4 class="ui attached styled header inpost-header">
            {{ 'sylius.ui.shipping_address'|trans }}
        </h4>
        {% include "@BitBagSyliusInPostPlugin/Admin/Order/Show/_InPostGeowidget.html.twig" %}
    </div>
{% else %}

    {% if order.shippingAddress is not null %}
        <h4 class="ui top attached styled header">
            {{ 'sylius.ui.shipping_address'|trans }}
        </h4>
        <div class="ui attached segment" id="shipping-address">
            {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.shippingAddress} %}
        </div>
    {% endif %}

    <div class="ui attached segment" id="edit-addresses">
        <a href="{{ path('sylius_admin_order_update', {'id': order.id}) }}" class="ui icon labeled tiny fluid button">
            <i class="pencil icon"></i> {{ 'sylius.ui.edit_addresses'|trans }}
        </a>
    </div>

{% endif %}